<div class="text-white py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <h5 class="mb-4"><i class="fab fa-pagelines me-2"></i>Style-cart</h5>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ea soluta quo amet labore sed at illo? Rem pariatur sunt amet, reprehenderit ipsa nemo.
          </p>
          <span>Code licensed MIT, docs CC BY 3.0.</span><br />
          <span>Currently v5.3.2</span>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
          <h5 class="mb-4">Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="/" class="text-white text-decoration-none">Home</a></li>
            <li><a routerLink="/cart" class="text-white text-decoration-none">Cart</a></li>
            <li><a routerLink="/view" class="text-white text-decoration-none">View</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
          <h5 class="mb-4">Guides</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="https://react.dev/" target="_blank" class="text-white text-decoration-none">React JS</a></li>
            <li><a href="https://reactrouter.com/en/main" target="_blank" class="text-white text-decoration-none">React Routing</a></li>
            <li><a href="https://react-bootstrap.github.io/" target="_blank" class="text-white text-decoration-none">React Bootstrap</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 mb-4">
          <h5 class="mb-4">Contact Us</h5>
          <div class="mb-3">
            <input type="text" class="form-control me-1" placeholder="E-mail Id Please" />
          </div>
          <button class="btn btn-info"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="social-icons">
              <a href="https://twitter.com/" target="_blank" class="text-white me-3"><i class="fab fa-twitter"></i></a>
              <a href="https://instagram.com/" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
              <a href="https://facebook.com/" target="_blank" class="text-white me-3"><i class="fab fa-facebook"></i></a>
              <a href="https://linkedin.com/" target="_blank" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/" target="_blank" class="text-white me-3"><i class="fab fa-github"></i></a>
              <a href="tel:+1234567890" class="text-white"><i class="fas fa-phone"></i></a>
            </div>
            <p class="mb-0">Copyright &copy; 2024 Media Player. Built with React.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  